/* common across pages */
* {margin: 0px; padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

body { width: 1266px;
        margin: 0px auto;
        background-color:aquamarine;}
        
main {background-color: beige;
        margin: 0px auto;
        text-align: center;}

header, nav {justify-content: space-around;
    background-color:bisque;
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    text-align: left;}

hr {margin: 5px 0px;}

header img{width: 110px;
        margin: 5px;
        float: left;}

nav {clear: both;
        display: flex;
        height: 50px;}

nav a {flex: 1;
    text-align: center;
    padding: 5px;
    margin: 10px;
    background-color: aquamarine;}

a:hover, button:hover  {background-color: brown;
                        color: gold;}
a:active, button:active {background-color: black;
                        color: white;}

section {border: 3px solid black;
        width: 1000px;
        margin: 10px auto;
        font-size: large;
        background-color: palegreen;}

article {border: 2px black solid;
        margin: 5px;
        padding: 5px;
        background-color: azure;
        text-align: center;}

h1,h2 {padding: 5px 130px;}
h3,h4 {padding: 10px;
        text-decoration-line: underline;}
h1,h2,h3,h4{font-size: 150%;}

.flexcontent {display: flex;}

.flexed {border: 2px black solid;
        flex: 1;}

.padded {padding: 10px;}
.padded img{padding: 5px;}

button {border-radius: 0.5em;
        width: 100px;
        height: 30px;
        font-size: 18px;}

footer {background-color: burlywood;
        height: 100px;
        font-size: 20px;
        padding: 10px;}

/* for homepage only(index.html) */
#calltoact {position: relative;
                background-image: url(../images/cta.png);
                height: 600px;
                background-repeat: no-repeat;
                background-size: cover;
                font-size: 150%;}

#calltoact h4 {color:darkblue;}

#calltoact a {position: absolute;
                bottom: 30px;
                right: 30px;
                height: 40px;
                border: 3px black solid;
                border-radius: 0.5em;
                background-color: aquamarine;}

#calltoact a:hover {background-color: brown;}
#calltoact a:active {background-color: black;}

#stalluniqueinfo div {text-align: left;
                        border: 1px black solid;}
#stalluniqueinfo .flexcontent div {padding: 10px;}

#pancakeback, #takoyakiback{width: 300px;}
#pancakeback {background-image: url(../images/pancakes.png);
                background-size: cover;}
#takoyakiback {background-image: url(../images/takoyaki.png);
                background-size: cover;}

#promo div img {height: 90%;}


/* for AboutUs.html */
#aboutus img {border: 1px solid black;}
#stallimg {height: 500px;}
#stallimg img{width: 100%;
                height: 500px;
                margin: 0px;}
                
#infocontact {display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 3fr 3fr;
                height: 500px;}
#infocontact div, #infocontact h4, #infocontact p {border: 2px solid black;
                                                padding: 10px;}
#infocontact h4, #infocontact p {grid-column: 1/span 2;}
#infocontact p {text-align: justify;}

#specialpancakeimgs {width: 700px;
                        margin: 0px 145px;}

/* For forms, OnlineOrder.html and MemberRegister.html */
form {margin: 5px}                        
fieldset {text-align: left;
        background-color: aliceblue;
        padding: 10px;}
        
legend{border: 2px solid black;
        border-radius: 0.2em;
        background-color: aquamarine;}

#Memberregister label {display: inline-block;
                        width: 250px;
                        text-align: left;
                        border: 1px blue solid;}

textarea {float: right;}

.inline {width: 600px;}

.request textarea{float: none;}

form div{margin: 10px;}
form fieldset {margin: 10px;}

/* for menu.html */
#pancakegrid {display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        border: 2px black solid;
        margin: 10px;}

#pancakegrid img {margin: 10px 0px 5px 0px;
                 width: 90%;}

#takoyakibackground {margin: 0px 10px;}
#takoyakigrid {display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);}

#pancakegrid div {padding: 5px;}
#pancakegrid div, #takoyakibackground div, table, tr, th, td {background-color: beige;}
#pancakegrid div, #takoyakigrid div, table, tr, th, td {border: 1px black solid;}
#takoyakibackground div, table{padding: 0px;}

#pancakegrid div:hover, #takoyakigrid div:hover, td:hover {background-color: coral;}

#example {margin: 0px 10px;
        margin-bottom: 5px;}
#example img{width: 100%;
                height: 300px;}